.game-place {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background: rgb(253, 248, 248);
  /* border: 5px solid silver; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}